<ion-content>
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>¡Bienvenido!</h2>
    <h4 align="justify">Esta es la aplicación de control de Electropro</h4>
    </ion-slide>
  <ion-slide>
    <h3 align="justify"> Consejos para un consumo responsable de energía</h3>
  </ion-slide>
  <ion-slide>
    <h2>Síguenos en @Electropro</h2>
    <p>Este es un proyecto creado por estudiantes de la Universidad Nacional de Colombia</p>
  </ion-slide>
</ion-slides>
</ion-content>