<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="bonfire"></ion-icon>
      <ion-label>Tab1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mediciones">
      <ion-icon name="send"></ion-icon>
      <ion-label>Mediciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Tab2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Tab3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
